{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Отзывы</title>
    <link rel="stylesheet" href="{% static 'css/crm_style.css'%}">
</head>
<body>
    {% block content %}
            <form action="{% url 'crm_insert' %}" method="POST">
        {% csrf_token %}
    
        <div class="cl">
            <script>
                function alertFunction() {
                alert("Спасибо! Ваш отзыв записан!","Спасибо за отзыв!");}
            </script>
        </div>
        <div class="cl">
            <h1>Ваш e-mail:</h1>
            <input type="email" class="form-control" name="email_fb" placeholder="name@example.com">
        </div>
        <div class="cl">
            <h1>Текст отзыва:</h1>
            <textarea class="form-control" name="text_fb" rows="7"></textarea>
        </div>
        <div class="cl">
            <button type="submit" class="btn btn-primary btn-lg btn-block"onclick="alertFunction()">Отправить отзыв</button>
        </div>
</body>
    {% endblock %}
</html>